job: extension
config:
  name: {{ output_name }}
  process:
  - type: diffusion_trainer
    training_folder: /root/ai-toolkit/output
    sqlite_db_path: /root/ai-toolkit/aitk_db.db
    device: cuda

    datasets:
    - folder_path: {{ dataset_path }}
      caption_ext: txt
      resolution: [1024]

    train:
      batch_size: {{ batch_size }}
      steps: {{ steps }}
      lr: {{ lr }}

    model:
      name_or_path: {{ model_path }}
      assistant_lora_path: {{ assistant_lora }}
      arch: zimage:turbo

meta:
  name: {{ output_name }}
  version: "1.0"